
/* --- Alignment --- */

[u-text~="left"] {
	text-align: left;
}

[u-text~="center"] {
	text-align: center;
}

[u-text~="right"] {
	text-align: right;
}

[u-text~="justify"] {
	text-align: justify;
}

/* --- Style --- */

[u-text~="italic"] {
	font-style: italic;
}

/* --- Weight --- */

[u-text~="light"] {
	font-weight: 200;
}

[u-text~="normal"] {
	font-weight: 400;
}

[u-text~="bold"] {
	font-weight: 700;
}

/* --- Transform --- */

[u-text~="uppercase"] {
	text-transform: uppercase;
}
